<div class="flex items-center gap-4"
     x-data="{ toggle: {{ element['#default_value'] ? 'true' : 'false' }}, loaded: false }"
     x-init="
       $watch('toggle', value => {
         if ($refs.drupalCheckbox) {
           $refs.drupalCheckbox.checked = value;
         }
       });
       setTimeout(() => loaded = true, 50);
     "
>

  <span class="text-sm text-gray-700 dark:text-gray-400">
    Published
  </span>

  <input
    type="checkbox"
    name="{{ element['#name']}}"
    value="{{ element['#value'] }}"
    {% if element['#default_value'] %}checked="checked"{% endif %}
    x-ref="drupalCheckbox"
    data-drupal-selector="edit-status-value"
    class="hidden"
    {% for attr_name, attr_value in input_attributes %}
      {% if attr_name != 'class' %}
        {{ attr_name }}="{{ attr_value is iterable ? attr_value|join(' ') : attr_value }}"
      {% endif %}
    {% endfor %}
  >

  <div class="flex items-center gap-3">
    <button
      type="button"
      @click="toggle = !toggle"
      class="relative inline-flex h-6 w-12 items-center rounded-full focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
      :class="[
        toggle ? 'bg-green-400' : 'bg-gray-400',
        loaded ? 'transition-colors duration-200 ease-in-out' : ''
      ]"
      role="switch"
      :aria-checked="toggle"
    >
      <span
        class="inline-block h-5 w-5 transform rounded-full bg-white shadow-lg"
        :class="[
          toggle ? 'translate-x-6' : 'translate-x-1',
          loaded ? 'transition-transform duration-200 ease-in-out' : ''
        ]"
      ></span>
    </button>
  </div>
</div>