{{ attach_library('core/drupal.ajax') }}
{{ attach_library('core/drupal.dialog.ajax') }}

{{ attach_library('atom8_ui/group_settings') }}


<div x-data="groupSettings()" x-init="groupId = {{ gid }}; userId = {{ user.id() }}; init()" class="w-full    mt-12  ">

	<div class="flex flex-col items-stretch gap-4 xl:flex-row">
		<div class=" bg-white dark:bg-gray-800 p-4 rounded shadow   w-full    p-4">

			<h2 class=" pb-2">Available Workflows</h2>

			<div class="mb-4">
				<div class="flex gap-2 items-stretch   mt-4 ">
					<input type="text" x-model="searchTerm" placeholder="Search by workflow name..." class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200">
					<button @click="searchTerm = ''" class="  text-white bg-purple-600 px-4 py-2 rounded-md text-xs font-light hover:bg-purple-800 transition-all">Clear</button>
				</div>
			</div>

			<div class="overflow-scroll h-96">
				<template x-if="!isLoading && !error">
					<div>
						<!-- Workflows Table -->
						<div class="card overflow-x-auto">


							<div class="border-2 border-dashed rounded p-3 space-y-2" id="available-workflows-list">
								<template x-for="workflow in filteredWorkflows" :key="workflow.id">
									<div class="text-gray-700 dark:text-gray-400 rounded-md p-4 group drag-handle flex w-full items-center justify-between gap-4  bg-white dark:bg-gray-800 transition duration-300 text-xs hover:bg-gray-100 border border-gray-200 dark:border-gray-700  " :data-workflow-id="workflow.id">


										<div class="inline-flex gap-4 cursor-move items-center ">

											<svg class="fill-back dark:fill-white   " id='Drag_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' opacity='0'/>
												<g transform="matrix(0.83 0 0 0.83 12 12)">
													<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;   fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -15)" d="M 14.984375 2.9863281 C 14.679232719304073 2.991113424230346 14.392974340915222 3.1349618093187295 14.207031 3.3769531 C 14.205722127743346 3.3789016433998924 14.204420119674234 3.38085478883772 14.203125 3.3828125 L 11.292969 6.2929688 C 11.031731108787561 6.543786003039588 10.92649848082709 6.9162349851687335 11.017855648687851 7.266675241169932 C 11.109212816548611 7.61711549717113 11.382884250849262 7.890787008886047 11.73332448100797 7.982144275876887 C 12.08376471116668 8.073501542867726 12.456213723063279 7.968269020263017 12.707031 7.707031200000001 L 14 6.4140625 L 14 14 L 6.4140625 14 L 7.7070312 12.707031 C 8.00279179498787 12.419539617579169 8.091720245145614 11.97996487028792 7.930965951618407 11.600117951613584 C 7.770211658091198 11.220271032939248 7.3927524296244504 10.978075329944932 6.9804688 10.990234 C 6.7206700905992 10.997975294585906 6.474090306709873 11.106554684950613 6.2929688 11.292969 L 3.3808594 14.205078 C 3.1333280556050696 14.393718289845767 2.987723307948288 14.68684177364622 2.9869576955959163 14.998059284800046 C 2.986192083243544 15.309276795953874 3.130352877194585 15.603113119070867 3.3769530999999997 15.792969 C 3.3789016433998924 15.794277872256654 3.3808547888377194 15.795579880325766 3.3828124999999996 15.796875 L 6.2929688 18.707031 C 6.543786003039588 18.96826889121244 6.916234985168734 19.07350151917291 7.266675241169932 18.98214435131215 C 7.617115497171131 18.89078718345139 7.890787008886049 18.617115749150738 7.9821442758768875 18.26667551899203 C 8.073501542867726 17.91623528883332 7.968269020263018 17.54378627693672 7.7070312 17.292969 L 6.4140625 16 L 14 16 L 14 23.585938 L 12.707031 22.292969 C 12.518759981155519 22.0994359864488 12.260235858549075 21.990249842732712 11.990234 21.990234 C 11.583310933388129 21.990341027517083 11.217025100118086 22.236989716506184 11.063903235086288 22.614004421849202 C 10.910781370054488 22.991019127192217 11.001357595904953 23.423219121112922 11.292969 23.707031 L 14.205078 26.619141 C 14.393718336632448 26.866672308471262 14.686841847766381 27.012277000550593 14.998059358851563 27.01304255410452 C 15.309276869936745 27.01380810765845 15.60311316564122 26.869647258390437 15.792969 26.623047 C 15.794277871462644 26.621098589715807 15.795579879530992 26.61914557761328 15.796875 26.617188 L 18.707031 23.707031 C 18.968271794792877 23.45621442686285 19.07350663500295 23.083764007781856 18.982149810984033 22.73332194847753 C 18.89079298696512 22.382879889173207 18.617120110826793 22.10920701303488 18.26667805152247 22.017850189015967 C 17.916235992218144 21.92649336499705 17.54378557313715 22.031728205207123 17.292969 22.292969 L 16 23.585938 L 16 16 L 23.585938 16 L 22.292969 17.292969 C 22.031728205207123 17.54378557313715 21.92649336499705 17.916235992218144 22.017850189015967 18.26667805152247 C 22.10920701303488 18.617120110826793 22.382879889173207 18.89079298696512 22.73332194847753 18.982149810984033 C 23.083764007781856 19.07350663500295 23.45621442686285 18.968271794792877 23.707031 18.707031 L 26.619141 15.794922 C 26.866672308471262 15.606281663367552 27.012277000550593 15.313158152233619 27.01304255410452 15.001940641148437 C 27.01380810765845 14.690723130063255 26.869647258390437 14.39688683435878 26.623047 14.207031 C 26.621098589715807 14.205722128537356 26.61914557761328 14.204420120469008 26.617188 14.203125 L 23.707031 11.292969 C 23.51875998115552 11.099435986448801 23.260235858549077 10.990249842732712 22.990234 10.990234 C 22.58331093338813 10.99034102751708 22.217025100118086 11.236989716506182 22.063903235086286 11.614004421849199 C 21.910781370054487 11.991019127192217 22.001357595904953 12.423219121112922 22.292969 12.707031 L 23.585938 14 L 16 14 L 16 6.4140625 L 17.292969 7.7070312 C 17.54378627693672 7.968269020263017 17.91623528883332 8.073501542867726 18.266675518992027 7.982144275876887 C 18.617115749150738 7.890787008886048 18.890787183451387 7.61711549717113 18.982144351312147 7.266675241169932 C 19.073501519172908 6.9162349851687335 18.96826889121244 6.543786003039589 18.707031 6.2929688 L 15.791016 3.3769531 C 15.59879373144233 3.1268098193024647 15.29981525485305 2.9820261207083107 14.984375 2.9863281 z" stroke-linecap="round"/>
												</g>
											</svg>

											<span class="flex flex-col transition-colors duration-300">
												<div class="pb-1 text-md max-w-lg flex-grow  " x-text="workflow.name"></div>

												<div class="flex gap-2">
													<span class="text-gray-700 dark:text-white text-xs font-light  " x-text="workflow.install_host"></span>
													<span class="text-purple-600 text-xs font-light  " x-text="workflow.id"></span>

												</div>

											</span>
										</div>

										<span class=" " x-text="workflow.install_type"></span>
										<span class="rounded-full w-2 h-2 block " :class="workflow.active ? 'bg-green-600' : 'bg-gray-400'"></span>
										<button @click="addToDashboard(workflow.id)" class="flex gap-2 items-center text-white bg-purple-600 px-2 py-1 rounded-md text-xs font-light transition-all duration-300    hover:bg-green-600">

											Add</button>

									</template>
								</div>
							</div>
						</template>
					</div>
				</div>


				<div class="bg-white dark:bg-gray-800 p-4 rounded shadow w-full      ">
					<h2 class="  pb-2">Dashboard Workflows</h2>

					<div class="card overflow-x-auto">

						<div class="border-2 border-dashed rounded p-3 space-y-2" id="dashboard-workflows-list">
							<div x-show="dashboardWorkflows.length == 0" class="text-center text-lg px-8 py-24   ">Drag workflows here
							</div>


							<template x-for="workflow in dashboardWorkflows" :key="workflow.id">
								<div x-show="dashboardWorkflows.length > 0" class="text-gray-700 dark:text-gray-400   rounded-md p-4 group drag-handle flex w-full items-center justify-between  bg-white dark:bg-gray-800 transition duration-300 text-xs hover:bg-gray-100 border  border-gray-200 dark:border-gray-700  " :data-workflow-id="workflow.id">


									<div class="inline-flex gap-4 cursor-move items-center  ">

										<svg class="fill-black dark:fill-white   " id='Drag_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' opacity='0'/>
											<g transform="matrix(0.83 0 0 0.83 12 12)">
												<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;   fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -15)" d="M 14.984375 2.9863281 C 14.679232719304073 2.991113424230346 14.392974340915222 3.1349618093187295 14.207031 3.3769531 C 14.205722127743346 3.3789016433998924 14.204420119674234 3.38085478883772 14.203125 3.3828125 L 11.292969 6.2929688 C 11.031731108787561 6.543786003039588 10.92649848082709 6.9162349851687335 11.017855648687851 7.266675241169932 C 11.109212816548611 7.61711549717113 11.382884250849262 7.890787008886047 11.73332448100797 7.982144275876887 C 12.08376471116668 8.073501542867726 12.456213723063279 7.968269020263017 12.707031 7.707031200000001 L 14 6.4140625 L 14 14 L 6.4140625 14 L 7.7070312 12.707031 C 8.00279179498787 12.419539617579169 8.091720245145614 11.97996487028792 7.930965951618407 11.600117951613584 C 7.770211658091198 11.220271032939248 7.3927524296244504 10.978075329944932 6.9804688 10.990234 C 6.7206700905992 10.997975294585906 6.474090306709873 11.106554684950613 6.2929688 11.292969 L 3.3808594 14.205078 C 3.1333280556050696 14.393718289845767 2.987723307948288 14.68684177364622 2.9869576955959163 14.998059284800046 C 2.986192083243544 15.309276795953874 3.130352877194585 15.603113119070867 3.3769530999999997 15.792969 C 3.3789016433998924 15.794277872256654 3.3808547888377194 15.795579880325766 3.3828124999999996 15.796875 L 6.2929688 18.707031 C 6.543786003039588 18.96826889121244 6.916234985168734 19.07350151917291 7.266675241169932 18.98214435131215 C 7.617115497171131 18.89078718345139 7.890787008886049 18.617115749150738 7.9821442758768875 18.26667551899203 C 8.073501542867726 17.91623528883332 7.968269020263018 17.54378627693672 7.7070312 17.292969 L 6.4140625 16 L 14 16 L 14 23.585938 L 12.707031 22.292969 C 12.518759981155519 22.0994359864488 12.260235858549075 21.990249842732712 11.990234 21.990234 C 11.583310933388129 21.990341027517083 11.217025100118086 22.236989716506184 11.063903235086288 22.614004421849202 C 10.910781370054488 22.991019127192217 11.001357595904953 23.423219121112922 11.292969 23.707031 L 14.205078 26.619141 C 14.393718336632448 26.866672308471262 14.686841847766381 27.012277000550593 14.998059358851563 27.01304255410452 C 15.309276869936745 27.01380810765845 15.60311316564122 26.869647258390437 15.792969 26.623047 C 15.794277871462644 26.621098589715807 15.795579879530992 26.61914557761328 15.796875 26.617188 L 18.707031 23.707031 C 18.968271794792877 23.45621442686285 19.07350663500295 23.083764007781856 18.982149810984033 22.73332194847753 C 18.89079298696512 22.382879889173207 18.617120110826793 22.10920701303488 18.26667805152247 22.017850189015967 C 17.916235992218144 21.92649336499705 17.54378557313715 22.031728205207123 17.292969 22.292969 L 16 23.585938 L 16 16 L 23.585938 16 L 22.292969 17.292969 C 22.031728205207123 17.54378557313715 21.92649336499705 17.916235992218144 22.017850189015967 18.26667805152247 C 22.10920701303488 18.617120110826793 22.382879889173207 18.89079298696512 22.73332194847753 18.982149810984033 C 23.083764007781856 19.07350663500295 23.45621442686285 18.968271794792877 23.707031 18.707031 L 26.619141 15.794922 C 26.866672308471262 15.606281663367552 27.012277000550593 15.313158152233619 27.01304255410452 15.001940641148437 C 27.01380810765845 14.690723130063255 26.869647258390437 14.39688683435878 26.623047 14.207031 C 26.621098589715807 14.205722128537356 26.61914557761328 14.204420120469008 26.617188 14.203125 L 23.707031 11.292969 C 23.51875998115552 11.099435986448801 23.260235858549077 10.990249842732712 22.990234 10.990234 C 22.58331093338813 10.99034102751708 22.217025100118086 11.236989716506182 22.063903235086286 11.614004421849199 C 21.910781370054487 11.991019127192217 22.001357595904953 12.423219121112922 22.292969 12.707031 L 23.585938 14 L 16 14 L 16 6.4140625 L 17.292969 7.7070312 C 17.54378627693672 7.968269020263017 17.91623528883332 8.073501542867726 18.266675518992027 7.982144275876887 C 18.617115749150738 7.890787008886048 18.890787183451387 7.61711549717113 18.982144351312147 7.266675241169932 C 19.073501519172908 6.9162349851687335 18.96826889121244 6.543786003039589 18.707031 6.2929688 L 15.791016 3.3769531 C 15.59879373144233 3.1268098193024647 15.29981525485305 2.9820261207083107 14.984375 2.9863281 z" stroke-linecap="round"/>
											</g>
										</svg>

										<span class="flex flex-col">
											<div class="pb-2  " x-text="workflow.name"></div>

											<div class="flex gap-2">
												<span class="dark:text-white text-xs font-light  " x-text="workflow.install_host"></span>
												<span class="text-purple-600 text-xs font-light  " x-text="workflow.id"></span>

											</div>

										</span>
									</div>


									<span x-text="workflow.install_type"></span>


									<span class="rounded-full w-2 h-2 block " :class="workflow.active ? 'bg-green-600' : 'bg-gray-400'"></span>


									<button @click="removeFromDashboard(workflow.id)" class="flex gap-2 items-center text-white bg-purple-600 px-2 py-1 rounded-md text-xs font-light   transition-all duration-300   hover:bg-red-600">


										Remove</button>

								</div>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>


		{# USERs TABLE ------------------------------------------------------------------------------------------- #}


		<!-- USERS DRAG & DROP SECTION -->
		<div
			class="grid grid-cols-2 gap-6 mt-10" x-data="userDragDrop({ userId: {{ user.id() }}, groupId : {{ gid }} })" x-init="loadUsers()">

			<!-- LEFT COLUMN — All Users -->
			<div class="bg-white dark:bg-gray-800 p-4 rounded shadow">
				<h2 class="text-lg font-bold mb-4">Available Users</h2>


				<div class="mb-4">
					<div class="flex gap-2 items-stretch   mt-4 ">
						<input type="text" x-model="searchUser" placeholder="Search user by name name..." class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200">
						<button @click="searchUser = ''" class="  text-white bg-purple-600 px-4 py-2 rounded-md text-xs font-light hover:bg-purple-800 transition-all">Clear</button>
					</div>
				</div>

				<div class="min-h-[200px] border-2 border-dashed rounded p-3 space-y-2" @dragover.prevent @drop="dropUser($event, 'available')">
					<template x-for="user in filteredAvailableUsers" :key="user.uid">
								<div class="flex gap-4 p-4 text-xs justify-between text-gray-700 dark:text-gray-400 rounded-md p-4 group drag-handle flex w-full items-center justify-between gap-4  bg-white dark:bg-gray-800 transition duration-300 text-xs hover:bg-gray-100 border border-gray-200 dark:border-gray-700 " draggable="true" @dragstart="dragUser(user)">

							<svg class="fill-back dark:fill-white   " id='Drag_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' opacity='0'/>
								<g transform="matrix(0.83 0 0 0.83 12 12)">
									<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;   fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -15)" d="M 14.984375 2.9863281 C 14.679232719304073 2.991113424230346 14.392974340915222 3.1349618093187295 14.207031 3.3769531 C 14.205722127743346 3.3789016433998924 14.204420119674234 3.38085478883772 14.203125 3.3828125 L 11.292969 6.2929688 C 11.031731108787561 6.543786003039588 10.92649848082709 6.9162349851687335 11.017855648687851 7.266675241169932 C 11.109212816548611 7.61711549717113 11.382884250849262 7.890787008886047 11.73332448100797 7.982144275876887 C 12.08376471116668 8.073501542867726 12.456213723063279 7.968269020263017 12.707031 7.707031200000001 L 14 6.4140625 L 14 14 L 6.4140625 14 L 7.7070312 12.707031 C 8.00279179498787 12.419539617579169 8.091720245145614 11.97996487028792 7.930965951618407 11.600117951613584 C 7.770211658091198 11.220271032939248 7.3927524296244504 10.978075329944932 6.9804688 10.990234 C 6.7206700905992 10.997975294585906 6.474090306709873 11.106554684950613 6.2929688 11.292969 L 3.3808594 14.205078 C 3.1333280556050696 14.393718289845767 2.987723307948288 14.68684177364622 2.9869576955959163 14.998059284800046 C 2.986192083243544 15.309276795953874 3.130352877194585 15.603113119070867 3.3769530999999997 15.792969 C 3.3789016433998924 15.794277872256654 3.3808547888377194 15.795579880325766 3.3828124999999996 15.796875 L 6.2929688 18.707031 C 6.543786003039588 18.96826889121244 6.916234985168734 19.07350151917291 7.266675241169932 18.98214435131215 C 7.617115497171131 18.89078718345139 7.890787008886049 18.617115749150738 7.9821442758768875 18.26667551899203 C 8.073501542867726 17.91623528883332 7.968269020263018 17.54378627693672 7.7070312 17.292969 L 6.4140625 16 L 14 16 L 14 23.585938 L 12.707031 22.292969 C 12.518759981155519 22.0994359864488 12.260235858549075 21.990249842732712 11.990234 21.990234 C 11.583310933388129 21.990341027517083 11.217025100118086 22.236989716506184 11.063903235086288 22.614004421849202 C 10.910781370054488 22.991019127192217 11.001357595904953 23.423219121112922 11.292969 23.707031 L 14.205078 26.619141 C 14.393718336632448 26.866672308471262 14.686841847766381 27.012277000550593 14.998059358851563 27.01304255410452 C 15.309276869936745 27.01380810765845 15.60311316564122 26.869647258390437 15.792969 26.623047 C 15.794277871462644 26.621098589715807 15.795579879530992 26.61914557761328 15.796875 26.617188 L 18.707031 23.707031 C 18.968271794792877 23.45621442686285 19.07350663500295 23.083764007781856 18.982149810984033 22.73332194847753 C 18.89079298696512 22.382879889173207 18.617120110826793 22.10920701303488 18.26667805152247 22.017850189015967 C 17.916235992218144 21.92649336499705 17.54378557313715 22.031728205207123 17.292969 22.292969 L 16 23.585938 L 16 16 L 23.585938 16 L 22.292969 17.292969 C 22.031728205207123 17.54378557313715 21.92649336499705 17.916235992218144 22.017850189015967 18.26667805152247 C 22.10920701303488 18.617120110826793 22.382879889173207 18.89079298696512 22.73332194847753 18.982149810984033 C 23.083764007781856 19.07350663500295 23.45621442686285 18.968271794792877 23.707031 18.707031 L 26.619141 15.794922 C 26.866672308471262 15.606281663367552 27.012277000550593 15.313158152233619 27.01304255410452 15.001940641148437 C 27.01380810765845 14.690723130063255 26.869647258390437 14.39688683435878 26.623047 14.207031 C 26.621098589715807 14.205722128537356 26.61914557761328 14.204420120469008 26.617188 14.203125 L 23.707031 11.292969 C 23.51875998115552 11.099435986448801 23.260235858549077 10.990249842732712 22.990234 10.990234 C 22.58331093338813 10.99034102751708 22.217025100118086 11.236989716506182 22.063903235086286 11.614004421849199 C 21.910781370054487 11.991019127192217 22.001357595904953 12.423219121112922 22.292969 12.707031 L 23.585938 14 L 16 14 L 16 6.4140625 L 17.292969 7.7070312 C 17.54378627693672 7.968269020263017 17.91623528883332 8.073501542867726 18.266675518992027 7.982144275876887 C 18.617115749150738 7.890787008886048 18.890787183451387 7.61711549717113 18.982144351312147 7.266675241169932 C 19.073501519172908 6.9162349851687335 18.96826889121244 6.543786003039589 18.707031 6.2929688 L 15.791016 3.3769531 C 15.59879373144233 3.1268098193024647 15.29981525485305 2.9820261207083107 14.984375 2.9863281 z" stroke-linecap="round"/>
								</g>
							</svg>

							<span class="flex flex-col gap-1">
								<span x-text="user.field_first_name + ' ' + user.field_last_name"></span>
								<span class="text-purple-600 text-xs font-light  " x-text="user.mail"></span>

							</span>

							<span x-text="user.field_organization"></span>


                            	<button @click="userToDashboard(user.id,  groupId)" class="flex gap-2 items-center text-white bg-purple-600 px-2 py-1 rounded-md text-xs font-light transition-all duration-300    hover:bg-green-600">

											Remove</button>


						</div>
					</template>
				</div>
			</div>

			<!-- RIGHT COLUMN — Group Users -->
			<div class="bg-white dark:bg-gray-800 p-4 rounded shadow">
				<h2 class="text-lg font-bold mb-4">Group Users</h2>

				<div class="min-h-[200px] border-2 border-dashed rounded p-3 space-y-2" @dragover.prevent @drop="dropUser($event, 'group')">

                	<div x-show="groupUsers.length == 0" class="text-center text-lg px-8 py-24   ">Drag users here
							</div>


					<template x-for="user in groupUsersUsers" :key="user.uid">
						<div class="flex gap-4 p-4 text-xs justify-between text-gray-700 dark:text-gray-400 rounded-md p-4 group drag-handle   w-full items-center    bg-white dark:bg-gray-800 transition duration-300 text-xs hover:bg-gray-100 border border-gray-200 dark:border-gray-700 " draggable="true" @dragstart="dragUser(user)">

							<svg class="fill-back dark:fill-white   " id='Drag_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' opacity='0'/>
								<g transform="matrix(0.83 0 0 0.83 12 12)">
									<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;   fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -15)" d="M 14.984375 2.9863281 C 14.679232719304073 2.991113424230346 14.392974340915222 3.1349618093187295 14.207031 3.3769531 C 14.205722127743346 3.3789016433998924 14.204420119674234 3.38085478883772 14.203125 3.3828125 L 11.292969 6.2929688 C 11.031731108787561 6.543786003039588 10.92649848082709 6.9162349851687335 11.017855648687851 7.266675241169932 C 11.109212816548611 7.61711549717113 11.382884250849262 7.890787008886047 11.73332448100797 7.982144275876887 C 12.08376471116668 8.073501542867726 12.456213723063279 7.968269020263017 12.707031 7.707031200000001 L 14 6.4140625 L 14 14 L 6.4140625 14 L 7.7070312 12.707031 C 8.00279179498787 12.419539617579169 8.091720245145614 11.97996487028792 7.930965951618407 11.600117951613584 C 7.770211658091198 11.220271032939248 7.3927524296244504 10.978075329944932 6.9804688 10.990234 C 6.7206700905992 10.997975294585906 6.474090306709873 11.106554684950613 6.2929688 11.292969 L 3.3808594 14.205078 C 3.1333280556050696 14.393718289845767 2.987723307948288 14.68684177364622 2.9869576955959163 14.998059284800046 C 2.986192083243544 15.309276795953874 3.130352877194585 15.603113119070867 3.3769530999999997 15.792969 C 3.3789016433998924 15.794277872256654 3.3808547888377194 15.795579880325766 3.3828124999999996 15.796875 L 6.2929688 18.707031 C 6.543786003039588 18.96826889121244 6.916234985168734 19.07350151917291 7.266675241169932 18.98214435131215 C 7.617115497171131 18.89078718345139 7.890787008886049 18.617115749150738 7.9821442758768875 18.26667551899203 C 8.073501542867726 17.91623528883332 7.968269020263018 17.54378627693672 7.7070312 17.292969 L 6.4140625 16 L 14 16 L 14 23.585938 L 12.707031 22.292969 C 12.518759981155519 22.0994359864488 12.260235858549075 21.990249842732712 11.990234 21.990234 C 11.583310933388129 21.990341027517083 11.217025100118086 22.236989716506184 11.063903235086288 22.614004421849202 C 10.910781370054488 22.991019127192217 11.001357595904953 23.423219121112922 11.292969 23.707031 L 14.205078 26.619141 C 14.393718336632448 26.866672308471262 14.686841847766381 27.012277000550593 14.998059358851563 27.01304255410452 C 15.309276869936745 27.01380810765845 15.60311316564122 26.869647258390437 15.792969 26.623047 C 15.794277871462644 26.621098589715807 15.795579879530992 26.61914557761328 15.796875 26.617188 L 18.707031 23.707031 C 18.968271794792877 23.45621442686285 19.07350663500295 23.083764007781856 18.982149810984033 22.73332194847753 C 18.89079298696512 22.382879889173207 18.617120110826793 22.10920701303488 18.26667805152247 22.017850189015967 C 17.916235992218144 21.92649336499705 17.54378557313715 22.031728205207123 17.292969 22.292969 L 16 23.585938 L 16 16 L 23.585938 16 L 22.292969 17.292969 C 22.031728205207123 17.54378557313715 21.92649336499705 17.916235992218144 22.017850189015967 18.26667805152247 C 22.10920701303488 18.617120110826793 22.382879889173207 18.89079298696512 22.73332194847753 18.982149810984033 C 23.083764007781856 19.07350663500295 23.45621442686285 18.968271794792877 23.707031 18.707031 L 26.619141 15.794922 C 26.866672308471262 15.606281663367552 27.012277000550593 15.313158152233619 27.01304255410452 15.001940641148437 C 27.01380810765845 14.690723130063255 26.869647258390437 14.39688683435878 26.623047 14.207031 C 26.621098589715807 14.205722128537356 26.61914557761328 14.204420120469008 26.617188 14.203125 L 23.707031 11.292969 C 23.51875998115552 11.099435986448801 23.260235858549077 10.990249842732712 22.990234 10.990234 C 22.58331093338813 10.99034102751708 22.217025100118086 11.236989716506182 22.063903235086286 11.614004421849199 C 21.910781370054487 11.991019127192217 22.001357595904953 12.423219121112922 22.292969 12.707031 L 23.585938 14 L 16 14 L 16 6.4140625 L 17.292969 7.7070312 C 17.54378627693672 7.968269020263017 17.91623528883332 8.073501542867726 18.266675518992027 7.982144275876887 C 18.617115749150738 7.890787008886048 18.890787183451387 7.61711549717113 18.982144351312147 7.266675241169932 C 19.073501519172908 6.9162349851687335 18.96826889121244 6.543786003039589 18.707031 6.2929688 L 15.791016 3.3769531 C 15.59879373144233 3.1268098193024647 15.29981525485305 2.9820261207083107 14.984375 2.9863281 z" stroke-linecap="round"/>
								</g>
							</svg>

							<span class="flex flex-col gap-1">
								<span x-text="user.field_first_name + ' ' + user.field_last_name"></span>
								<span class="text-purple-600 text-xs font-light  " x-text="user.mail"></span>

							</span>

							<span x-text="user.field_organization"></span>


                            	<button @click="userToDashboard(user.id,  groupId)" class="flex gap-2 items-center text-white bg-purple-600 px-2 py-1 rounded-md text-xs font-light transition-all duration-300    hover:bg-green-600">

											Remove</button>


						</div>
					</template>
				</div>
			</div>

		</div>
