{{ attach_library('core/drupal.ajax') }}
{{ attach_library('core/drupal.dialog.ajax') }}

{{ attach_library('atom8_ui/admin_dash') }}
{# /group/1/content/create/group_node:workflow #}

{# <pre x-text="JSON.stringify(clients, null, 2)"></pre> #}


{# workflows #}
	<div
	x-data="n8nDashboard()" x-init="fetchData()" x-cloak> {# preloader  #}
	<div x-show="isLoading" class="card  h-auto flex items-center text-center p-4 w-full h-[100vh]">
		<svg class="w-16 m-auto " stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 200 200">
			<circle fill="none" stroke-opacity="1" stroke-width=".5" cx="100" cy="100" r="0">
				<animate attributename="r" calcmode="spline" dur="1" values="1;80" keytimes="0;1" keysplines="0 .2 .5 1" repeatcount="indefinite"></animate>
				<animate attributename="stroke-width" calcmode="spline" dur="2" values="0;25" keytimes="0;1" keysplines="0 .2 .5 1" repeatcount="indefinite"></animate>
				<animate attributename="stroke-opacity" calcmode="spline" dur="2" values="1;0" keytimes="0;1" keysplines="0 .2 .5 1" repeatcount="indefinite"></animate>
			</circle>
		</svg>
	</div>


	<div class="flex items-center justify-between mb-4 mt-10">

		<div class="flex   justify-content-between flex-col">

			<div class="flex items-center justify-content-between gap-4 mb-2 ">
				<h2 class="text-xl font-semibold  ">Dashboards
				</h2>

				<template x-if="!isLoading &&  clients.length">
					<span class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-600 text-white text-sm" x-text="clients.length"></span>
				</template>


			</div>
			<div class="text-xs font-light">Use the handelebars to drag and drop users and workflows into dashboards</div>

		</div>


		<button href="node/add/installation?destination={{ path('<current>')}}" data-dialog-type="modal" data-dialog-options='{"width":600}' class=" use-ajax flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">


			<svg class="w-4 h-4 mr-2 -ml-1" fill="currentColor" id='Plus_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
				<g transform="matrix(1 0 0 1 12 12)">
					<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;  fill-rule: evenodd; opacity: 1;" transform=" translate(-12, -12)" d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" stroke-linecap="round"/>
				</g>
			</svg>


			<span>Add Install</span>
		</button>

	</div>


	<div class="w-full overflow-hidden rounded-lg shadow-xs bg-white dark:bg-gray-800  mb-8 ">


		<div class="w-full overflow-x-auto">



			<template x-if="!isLoading && !error">
				<div>
					<!-- Workflows Table -->
					<div
						class="card overflow-x-auto">


						{# workflow tables  #}

						<table x-ref="workflowsTable" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
							<thead>
								<tr class="bg-gray-100 dark:bg-gray-800">
									<th class="px-4 py-3 text-left text-sm font-medium text-gray-700 dark:text-gray-400">Name</th>
									<th class="px-4 py-3 text-left text-sm font-medium text-gray-700 dark:text-gray-400">Type</th>
									<th class="px-4 py-3 text-left text-sm font-medium text-gray-700 dark:text-gray-400">Status</th>

								</tr>
							</thead>
							<tbody class="divide-y divide-gray-200 dark:divide-gray-700">


								<template x-for="workflow in workflows" :key="workflow.id">
									<tr class="text-gray-700 dark:text-gray-400 ">
										<td class="px-4 py-3 text-sm">

											<div class="inline-flex gap-4 cursor-move items-center " >



												<span class="flex flex-col">
													<span x-text="workflow.name"></span>
													<span class="text-purple-600 text-xs font-light" x-text="workflow.id"></span>
												</span>
											</div>


										</td>
										<td class="px-4 py-3 text-sm">
											<span :class="workflow.active ? 'text-green-600' : 'text-gray-400'" x-text="workflow.active ? 'Active' : 'Inactive'"></span>


										</td>


									</tr>
								</template>
							</tbody>
						</table>

					</div>


				</div>
			</template>
		</div>

	</div>


	{# USER CLiENTS  #}


	<div class="flex items-center justify-between mb-4">

		<div class="flex   justify-content-between flex-col">

			<div class="flex items-center justify-content-between gap-4 mb-2 ">
				<h2 class="text-xl font-semibold  ">Dashboards
				</h2>

				<template x-if="!isLoading &&  clients.length">
					<span class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-600 text-white text-sm" x-text="clients.length"></span>
				</template>


			</div>


		</div>
		<button href="/group/add/client?destination={{ path('<current>')}}" data-dialog-type="modal" data-dialog-options='{"width":600}' class=" use-ajax flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">


			<svg class="w-4 h-4 mr-2 -ml-1" fill="currentColor" id='Plus_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
				<g transform="matrix(1 0 0 1 12 12)">
					<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;  fill-rule: evenodd; opacity: 1;" transform=" translate(-12, -12)" d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" stroke-linecap="round"/>
				</g>
			</svg>


			<span>Add Dashboard</span>
		</button>
	</div>


	<div class="w-full overflow-hidden rounded-lg shadow-xs bg-white dark:bg-gray-800 mb-8 ">


		<div
			class="w-full overflow-x-auto">


			{# clients table  #}
			<template x-if=" clients.length">
				<table x-ref="clientsTable" class="w-full">
					<thead>
						<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
							<th class="px-4 py-3">Title</th>

							<th class="px-4 py-3">Status</th>


							<th class="px-4 py-3">Users</th>
							<th class="px-4 py-3">Workflows</th>


						</tr>
					</thead>
					<tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">


						<template x-for="client in clients" :key="client.id">


							<tr class="text-gray-700 dark:text-gray-400">
								<td class="px-4 py-3 text-sm">

									<a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" :href="client.view_group">
										<span x-text="decodeHTML(client.label)"></span>


									</a>
								</td>

								<td>
									<span class="text-sm" :class="client.status === 'True' ? 'text-green-600' : 'text-gray-400'" x-text="client.status === 'True' ? 'Active' : 'Inactive'"></span>
								</td>


								<td class="px-4 py-3 text-sm ">

									<template x-if="client.groups && client.groups.length > 0">
										<template x-for="(user, uIndex) in client.groups" :key="uIndex">
											<span class="inline-flex flex-col mb-1 p-3 border border-gray-300 dark:border-gray-600 rounded-md group">
												<span class="text-white text-lg" x-text="user.field_first_name + ' ' + user.field_last_name"></span>
												<span class="text-purple-600 text-xs" x-text="user.mail"></span>
												<span class="text-gray-600 dark:text-white text-[8px] font-light" x-text="user.field_organization"></span>



														<button class="flex opacity-0 group-hover:opacity-100"  @click="removeWorkflow(client, workflow)">


														<svg class="w-3 h-3" fill="currentColor" id='Trash_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
														<g transform="matrix(0.87 0 0 0.87 12 12)">
														<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;   fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -14.5)" d="M 13 3 C 12.732430633846345 2.996368577261966 12.47456599490831 3.1001168838017876 12.284068139451957 3.288045380846545 C 12.093570283995604 3.475973877891302 11.986330115219811 3.7324059923494244 11.986328 4.000000000000001 L 6 4 C 5.639364083422431 3.994899710454515 5.303918635428393 4.184375296169332 5.122112278513483 4.495872849714331 C 4.940305921598572 4.80737040325933 4.940305921598573 5.192629596740671 5.122112278513484 5.504127150285671 C 5.303918635428394 5.815624703830669 5.639364083422431 6.005100289545485 6.000000000000001 6 L 24 6 C 24.360635916577568 6.005100289545485 24.696081364571608 5.815624703830668 24.877887721486516 5.50412715028567 C 25.059694078401428 5.19262959674067 25.059694078401428 4.80737040325933 24.877887721486516 4.495872849714331 C 24.696081364571608 4.184375296169332 24.360635916577568 3.994899710454515 24 4 L 18.013672 4 C 18.01366988478019 3.732405992349424 17.906429716004396 3.4759738778913007 17.715931860548043 3.288045380846544 C 17.52543400509169 3.1001168838017867 17.267569366153655 2.9963685772619657 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z" stroke-linecap="round"/>
														</g>
														</svg>
														<span class="text-xs">Delete</span>
														</button>

											</span>
										</template>
									</template>
								</td>


								{# dragover  #}

								<td class="px-4 py-3 text-sm">

									<div class="flex-col flex gap-4 w-full">



										<!-- Dropped workflows -->


											<template x-for="(workflow, wIndex) in client.workflows" :key="workflow.field_id">
												<div x-show="workflow.field_id">
												<div class="flex gap-4 mb-1 justify-between items-center w-full p-3 border border-gray-300 dark:border-gray-600 rounded-md group">
													<div class="inline-flex flex-col ">
														<span class="max-w-124 overflow-hidden whitespace-nowrap text-ellipsis text-md" x-text="decodeHTML(workflow.title)"></span>
														<span class="text-purple-600 text-xs font-light" x-text="workflow.field_id"></span>
																<span x-text="workflow.nid"></span>
													</div>
													<button :href="'/node/'+ workflow.nid +'/delete?destination={{ path('<current>')}}'" data-dialog-type="modal" data-dialog-options='{"width":600}' class="use-ajax flex opacity-0 group-hover:opacity-100"  >
														<svg class="w-3 h-3" fill="currentColor" id='Trash_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
															<g transform="matrix(0.87 0 0 0.87 12 12)">
																<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;   fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -14.5)" d="M 13 3 C 12.732430633846345 2.996368577261966 12.47456599490831 3.1001168838017876 12.284068139451957 3.288045380846545 C 12.093570283995604 3.475973877891302 11.986330115219811 3.7324059923494244 11.986328 4.000000000000001 L 6 4 C 5.639364083422431 3.994899710454515 5.303918635428393 4.184375296169332 5.122112278513483 4.495872849714331 C 4.940305921598572 4.80737040325933 4.940305921598573 5.192629596740671 5.122112278513484 5.504127150285671 C 5.303918635428394 5.815624703830669 5.639364083422431 6.005100289545485 6.000000000000001 6 L 24 6 C 24.360635916577568 6.005100289545485 24.696081364571608 5.815624703830668 24.877887721486516 5.50412715028567 C 25.059694078401428 5.19262959674067 25.059694078401428 4.80737040325933 24.877887721486516 4.495872849714331 C 24.696081364571608 4.184375296169332 24.360635916577568 3.994899710454515 24 4 L 18.013672 4 C 18.01366988478019 3.732405992349424 17.906429716004396 3.4759738778913007 17.715931860548043 3.288045380846544 C 17.52543400509169 3.1001168838017867 17.267569366153655 2.9963685772619657 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z" stroke-linecap="round"/>
															</g>
														</svg>
														<span class="text-xs">Delete</span>
													</button>
												</div>
													</div>
											</template>



									</div>

								</td>


								<td>


									<button :href="'/group/'+ client.id +'/content/create/group_node:workflow?destination={{ path('<current>')}}'" data-dialog-type="modal" data-dialog-options='{"width":600}' class=" use-ajax flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">


										<svg class="w-3 h-3" fill="currentColor" id='Edit_24' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
											<g transform="matrix(1.05 0 0 1.05 12 12)">
												<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;" transform=" translate(-12.5, -11.5)" d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z" stroke-linecap="round"/>
											</g>
										</svg>


									</button>
								</td>


							</tr>
						</template>
					</tbody>
				</table>
			</template>

		</div>
	</div>

</div>


{#
<script>

function workflowData() {
    return {
        workflow_id: 101,
        install_id: 366,
        group_id: 1,
        loading: false,
        message: '',

        getNodeUuid: function(nodeType, nodeId) {
            var url = '/jsonapi/node/' + nodeType + '?filter[drupal_internal__nid]=' + nodeId;

            return fetch(url, {
                credentials: 'same-origin'
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                if (data.data && data.data[0]) {
                    return data.data[0].id;
                }
                throw new Error('Node ' + nodeId + ' not found');
            });
        },

        postData: function() {
            var self = this;
            self.loading = true;
            self.message = 'Creating workflow...';

            var installationUuid;
            var csrfToken;
            var createdNodeId;

            // Step 1: Get installation UUID
            self.getNodeUuid('installation', self.install_id)
            .then(function(uuid) {
                installationUuid = uuid;
                console.log('Got installation UUID:', installationUuid);

                // Step 2: Get CSRF token
                return fetch('/session/token', {
                    credentials: 'same-origin'
                });
            })
            .then(function(response) {
                return response.text();
            })
            .then(function(token) {
                csrfToken = token;
                console.log('Got CSRF token');

                // Step 3: Create the workflow node
                var payload = {
                    data: {
                        type: "node--workflow",
                        attributes: {
                            title: "zzzzzzWorkflow " + self.workflow_id,
                            field_id: self.workflow_id,
                        },
                        relationships: {
                            field_install: {
                                data: {
                                    type: "node--installation",
                                    id: installationUuid
                                }
                            }
                        }
                    }
                };

                return fetch('/jsonapi/node/workflow', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/vnd.api+json',
                        'Accept': 'application/vnd.api+json',
                        'X-CSRF-Token': csrfToken
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(payload)
                });
            })
            .then(function(response) {
                return response.json().then(function(json) {
                    if (!response.ok) {
                        var error = json.errors && json.errors[0] ? json.errors[0].detail : 'Failed to create workflow';
                        throw new Error(error);
                    }
                    return json;
                });
            })
            .then(function(workflowResult) {
                console.log('Workflow created:', workflowResult);
                createdNodeId = workflowResult.data.attributes.drupal_internal__nid;
                self.message = 'Workflow created (ID: ' + createdNodeId + '), adding to group...';

                // Step 4: Add workflow to group
                return fetch('/group/' + self.group_id + '/add-node/' + createdNodeId, {
                    credentials: 'same-origin'
                });
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(result) {
                console.log('Added to group:', result);
                self.message = 'Workflow created and added to group successfully! Node ID: ' + createdNodeId;
            })
            .catch(function(error) {
                console.error('Error:', error);
                self.message = 'Failed: ' + error.message;
            })
            .finally(function() {
                self.loading = false;
            });
        }
    }
}

</script> #}





{#
fetch('/group/' + groupId + '/add-user/' + userId, {
    credentials: 'same-origin'
})
.then(function(response) {
    return response.json();
})
.then(function(result) {
    console.log('User added to group:', result);
});


// After creating a workflow node
fetch('/group/' + groupId + '/add-node/' + nodeId, {
    credentials: 'same-origin'
})
.then(function(response) {
    return response.json();
})
.then(function(result) {
    console.log('Node added to group:', result);
});



#}


